/* Keep site title on the left */
.greedy-nav .visible-links .masthead__menu-item--lg {
  margin-right: auto !important;
}

/* Add spacing between right-aligned items */
.greedy-nav .visible-links > li:not(.masthead__menu-item--lg) {
  margin-left: 1.2rem !important;
}

body { outline: 5px solid red !important; }
