/* Keep site title on the left */
.greedy-nav .visible-links .masthead__menu-item--lg {
  margin-right: auto !important;
}

/* Align the rest of the nav items to the right */
.greedy-nav .visible-links {
  justify-content: flex-end !important;
}
