/* Keep site title on the left */
.greedy-nav .visible-links .masthead__menu-item--lg {
  margin-right: auto !important;
}

/* Push all other nav items to the right */
.greedy-nav .visible-links > li:not(.masthead__menu-item--lg) {
  margin-left: 1rem;
}
